
<table width=50 class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bean</th>
      <th scope="col">Date Added</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @roaster.beans.each.with_index(1) do |bean, i| %>
    
    <tr>
      <th scope="row"><%= "#{i}" %></th>
      <td><%= link_to bean.name, bean_path(bean) %></td>
      <td><%= bean.created_at.strftime('%F') %></td>
      <td>
      <% if bean.status == 'active' %>
        <span class="badge badge-success">
        <% elsif bean.status == 'inactive' %>
        <span class="badge badge-secondary">
        <% elsif bean.status == 'pending' %>
        <span class="badge badge-warning">
        <% end %>
      <%= bean.status %></td>
      </span>
      <td>
        <%= link_to 'Edit', edit_bean_path(bean) %> | <%= link_to 'Remove', bean_path(bean), method: :delete, data: { confirm: "Are you sure?" } %>


      </td>
    </tr>
    <% end %>
    
  </tbody>
</table>
