<!DOCTYPE html>
<html>
  <head>
    <title>CBDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page-content">
    <% if current_roaster %>
    <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>

  </div>  
  </body>
</html>
